<a href="/sessions/destroy">LogOut</a>
<h1>Secrets</h1>
<a href="/users/show">Back to Your Secret Page</a>

<% @secrets.each do |s| %>

<p><%= s.secret %> 
	<% if s.user_id == session[:user_id] %>
	<a href="/secrets/<%= s.id %>" data-method="delete">Delete</a>
	<% end %>
</p>
<p><%= s.likes.count %> likes</p>
	<% if Like.where(user: User.find(session[:user_id]), secret: Secret.find( s.id )).count > 0 %>
		<a href="secrets/unlike/<%= s.id %>"data-method="delete">Unlike</a>
	<% else %>
		<a href="secrets/like/<%= s.id %>"data-method="post">Like</a>
	<% end %>	
<% end %>
